//Background
$main-bg: #f7f7f7;
$sec-bg: #fdfdfd;
$danger: #ff0000;
$blue-bckg: #005bea;
//Text Colors
$text-white: rgb(255, 255, 255);
$text-dark: #2b2b2b;
$gray-text: #868686;
$text-light-blue: #a9cbff;
$text-medium-blue: #023991;
$text-dark-blue: #003893;
//Box Shadows
$box-shadow: 1px 0px 6.65px 0.35px rgba(13, 39, 80, 0.16);
$box-shadow2: 1px 0px 6.65px 0.35px rgba(13, 39, 80, 0.17);
$box-shadow-inset: 1px 0px 2px 0px rgba(13, 39, 80, 0.06) inset;
//Gradients
$gradient: linear-gradient(
  -63deg,
  rgb(0, 60, 156) 0%,
  rgb(0, 64, 166) 0%,
  rgb(0, 67, 176) 65%,
  rgb(0, 87, 228) 89%,
  rgb(54, 132, 255) 100%
);
$gradient2: linear-gradient(
  -63deg,
  rgb(54, 132, 255) 0%,
  rgb(0, 87, 228) 0%,
  rgb(0, 67, 176) 65%,
  rgb(0, 64, 166) 89%,
  rgb(0, 60, 156) 100%
);
